

<!doctype html>
  <html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::layout(~{::section})"> 

<head>
	<meta charset="UTF-8" />
	<title>This is Home Page</title>
</head>
<body>
		<section>
		
		
		<div class="container">
		<div class="card mt-3">
		<div class="card-body mt-3">
			<h4>What is smart contact manager?</h4>
		<p>
		Smart Contact Data instantly delivers valuable information to users based on a contact's email address and public data. This information helps users qualify leads against an ideal customer personal and determine whether a lead is hot. 
		</p>
		
		<h4>Why do we need contact management?</h4>
		<p>Contact management tools can help you collate your customer and lead data from different sources like email and spreadsheets and save them to your database. It can also warn you about duplicate contact information and give you options on which ones to delete.</p>
		
		
		<h4>What are the features of contact manager?</h4>
		<p>Here's the main features and benefits of this type of software: Contact data centralization: gathers everything about customer contacts; emails, phone numbers, home addresses, and even notes from your last meeting all in one place.</p>
		
		
		
		</div>
		
		</div>
		
		</div>
		
		</section>
</body>	
</html>




 
 